ion-content.has-refresher > .scroll-content {
  background-color: transparent;
}

page-weather {

  ion-content {
    background: url(../../assets/images/clouds.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-size: 24px;
  }

  .bar-buttons,
  .toolbar-title {
    color: #fff;
  }

  /* <ion-navbar transparent> */
  .toolbar .toolbar-background {
    border-color: transparent;
    background: transparent;
  }

  ion-col, ion-col h1, ion-col p {
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0,0, 0, 0.4);
  }

  h1 {
    font-size: 72px;
  }

  p {
    font-size: 36px;
    margin-top: 0;
  }

  /*
  .opaque {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .opaque .toolbar-background {
    background-color: rgba(#f8f8f8, 0.55);
  }
  */

  .refresher-pulling-text, .refresher-refreshing-text {
    color: #fff;
  }

  .refresher-pulling-icon {
    color: #fff;
  }

  .refresher-refreshing .spinner-circles circle{
    fill: #fff;
  }

  .has-refresher > .scroll-content {
    border-top-width: 0;
  }
}
